.page {
  margin-top: 1rem;
  display: grid;
  grid-template-columns: 1fr 4fr;
  align-items: start;
  gap: 1rem;
  overflow: auto;
  margin-block-end: 2rem;

  .filters {
    border: 2px solid var(--color-gray-20);
    background-color: var(--color-gray-16);
    border-radius: var(--border-radius);
    display: grid;
    gap: 1rem;
    text-align: center;
    margin-right: 2rem;
    margin-top: 2rem;

    .button {
      cursor: pointer;
      height: 30px;
      width: 150px;
      margin-right: 1rem;
      &:hover {
        background-color: var(--color-primary);
        color: var(--color-primary-opposite);
      }
    }
    .buttonactive {
      cursor: pointer;
      height: 30px;
      width: 150px;
      margin-right: 1rem;
      color: var(--color-primary-opposite);
      background-color: var(--color-primary);
    }
  }

  .img {
    border-radius: 50%;
    border: 1px solid white;
    margin: 20px 20px 0 0px;
  }
  .card_up {
    top: 0;
    position: relative;
    text-align: center;
    margin-top: 10px;
    .card {
      display: grid;
      gap: 1rem;
      border: 1px solid var(--color-gray-20);
      width: auto;
      height: auto;
      padding: 10px;
      margin: 10px 10px;
      text-align: right;
      background-color: var(--color-gray-16);
      border-radius: var(--border-radius);

      .id {
        text-align: left;
      }
      .title {
        display: flex;
        gap: 20px;
        align-items: center;
        text-align: right;
        margin-right: 30px;
      }
      .rate {
        position: absolute;
        top: 50px;
        left: 15px;
        width: max-content;
        margin: 0 auto 0 auto;
        color: white;
        background-color: red;
        padding: 2px 8px 4px;
        border-radius: 5px;
        rotate: -30deg;
        text-align: center;
      }
    }
  }
}
